
<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username" [(ngModel)]="userName">
					<input type="password" name="pass" placeholder="Password" [(ngModel)]="password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login" (click)="loginform()" >
				  </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
			</div>
			
	<div>
		<app-login-child [details]="userName"></app-login-child>
	</div>			